@section Scripts{
		<script src="~/js/RegisterProject.js"></script>
}

<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-2">
			<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Projetos</h5>
			<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
			<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
				<li class="breadcrumb-item">
					<a href="/Feedback" class="text-muted">Adicionar Projeto</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<form>
	<div class="card-body">
	</div>
</form>
