@section Scripts{
	<script src="~/js/RegisterResearcher.js"></script>
}

<div class="card card-custom">
	<div class="card-header">
		<h3 class="card-title">
			Base Controls
		</h3>
		<div class="card-toolbar">
			<div class="example-tools justify-content-center">
				<span class="example-toggle" data-toggle="tooltip" title="View code"></span>
				<span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
			</div>
		</div>
	</div>
	<!--begin::Form-->
	<form>
		<div class="card-body">
			<div class="form-group mb-8">
			</div>
			<div class="form-group">
				<label>Nome<span class="text-danger">*</span></label>
				<input id="researcher-name" type="text" class="form-control" placeholder="Digite o nome" />
			</div>
		</div>
		<div class="card-footer">
			<button id="btnSubmit" type="reset" class="btn btn-primary mr-2">Submit</button>
			<button type="reset" class="btn btn-secondary">Cancel</button>
		</div>
	</form>
	<!--end::Form-->
</div>