@section Scripts{
	<script src="~/js/RegisterResearcher.js"></script>
}

<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-2">
			<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Pesquisadores</h5>
			<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
			<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
				<li class="breadcrumb-item">
					<a href="/Feedback" class="text-muted">Adicionar Pesquisador</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<form>
	<div class="card-body">
		<div class="form-group">
			<label>Nome<span class="text-danger">*</span></label>
			<input id="researcher-name" type="text" class="form-control" placeholder="Digite o nome" />
		</div>
		<div class="form-group">
			<label>CPF<span class="text-danger">*</span></label>
			<input id="researcher-document" type="text" class="form-control" placeholder="Digite o CPF" />
		</div>
	</div>
</form>

<div class="card-footer">
	<div class="col-md-12 text-lg-right">
		<button type="button" class="btn btn-secondary" id="btnBack" onclick="location.href='/Researcher/Index'">Voltar</button>
		<button type="button" class="btn btn-success mr-2" id="btnSubmit">Salvar</button>
	</div>
</div>